* {
  font-family: Helvetica, Arial, sans-serif;
}

$mainColor:#000000;
$subColor:#DEDEDE;
$mainFontSize: 1.2rem;

$topBarColor: #ffffff;
$topBarBackgroundColor: #a1a1a1;
$topBarSubBackgroundColor: #b3b3b3